<header role="banner" class="site-head">
  <nav class="[ nav ] [ site-head__nav ] [ font-sans ]" aria-label="Primary">
    <ul class="nav__list">
      {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
