<header role="banner" class="site-head">
  <nav class="[ nav ] [ site-head__nav ] [ font-sans ]" aria-label="Primary">
    <ul class="nav__list">
      <!-- <style> -->
      <!-- me { padding: 0;} -->
      <!-- me li { display: inline-block; } -->
      <!-- </style> -->
      {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
